<p>Hello, I'm Richard Lewis. I specialize in web development and backend engineering.</p>
<p>
    I am returning to software development after a 10+ year stint as a Business Analyst. I have 
    spent most of my career working in Financial Institutions, in Canada and abroad. Prior to my 
    time as a BA, I spent a number of years working as a Backend mainframe developer and Systems 
    Analyst, on many platforms. Recently, in my spare time, I started exploring Python for fun.
</p>
