<p>Here in lies my professional portfolio, covering projects which were completed while working 
  through the Software Systems Developere program at BCIT. The program covers technologies that
  are under the umbrella of Full Stack Development. 
</p>
